/* Make the visualization container fill the page. */
#container {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background-color: lightgray;
}
/* Style the visualization.
 * This CSS is copied verbatim from the
 * D3 scatter plot example found at
 * http://bl.ocks.org/mbostock/3887118 */

.axis {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.brush .extent {
  stroke: gray;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

