/**
 * CSS for the example viewer application.
 *
 * Curran Kelleher 3/5/2014.
 */

/**** Begin styles for all views. ****/
body {
  font-family: Sans-Serif;
}

p, li {
  font-size: 1.5em;
}

/* Center the title part of the page. */
.centered {
  text-align: center;
}

/* Make the title large and move it down a little so it is more vertically centered. */
.page-title {
  font-size: 4em;
}

/**** Begin styles for the details view only. ****/

/**
 * Style code editors on the details view.
 * Autoresize code from http://codemirror.net/demo/resize.html
 */
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-size: 1.3em;
}
.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;

  /* Limit height for the case of large JSON files */
  max-height: 2000px;
}

/* Size the iFrame that contains the running example. */
.exampleFrame {
  width: 100%;
  height: 400px;
  border: 1px lightgray solid; 
  margin-bottom: 10px;
}

.example p {
  margin-bottom: 0px;
}

.example img {
  border: 1px lightgray solid; 
}

.example img {
  border: 1px lightgray solid; 
}

/* Style the names of source code files. */
.file-name {
  font-size: 1.5em;
  padding-top: 15px;
}
