.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  /* TODO move this into inline CSS defined by a Model property. */
  font: 18px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
/* Make the visualization container fill the page. */
#container {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background-color: lightgray;
}
