<!--
This file contains the Angular template that renders the home page.

Curran Kelleher
August 2014
-->

<div class="row">
  <div class="centered">
    <h1>Welcome to model-contrib!</h1>
  </div>
  <h2>Examples</h2>
  <ul>
    <li ng-repeat="example in examples">
      <img ng-src="thumbnails/{{example.name}}.png"/>
      <a href="#/{{example.name}}">{{example.name}}</a>
    </li>
  </ul>
  <h2>Modules</h2>
  <ul>
    <li ng-repeat="module in modules">
      <a href="docs/{{module.name}}.html">{{module.name}}</a>
    </li>
  </ul>
</div>
