<!--
This file contains the Angular template that renders the home page.

Curran Kelleher
August 2014
-->
<div class="container">
  <div class="row">
    <h1 class="title">model-contrib</h1>
    <p>The place for open source contributions built with <a href="https://github.com/curran/model">ModelJS</a></p>
    <div class="col-md-3">
      <h2>Modules</h2>
      <ul>
        <li ng-repeat="module in modules">
          <a href="#/modules/{{module.name}}">{{module.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <h2>Examples</h2>
      <div class="example" ng-repeat="example in examples">
        <a href="#/examples/{{example.name}}">
          <p>
            {{example.name}}
          </p>
          <img ng-src="thumbnails/{{example.name}}.png"/>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- GitHub banner from https://github.com/blog/273-github-ribbons -->
<a href="https://github.com/curran/model-contrib"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

